div{
    background-color: lightcyan;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}
#div3{
    position: fixed;/*(fixed positioning is from window's top i.e it is relative to viewport)*/
    bottom: 40px;
    left: 20px;
   /*top: 30px; 
    right: 90px;
    left: 30px;*/
}
#div2{
    position: fixed;
    bottom: 30px;
    left: 40px;
}
#div3{
    position: absolute;
    bottom: 50px;
    left: 30px;
}
#div1{
    position:sticky;/*sticky does not work on all browsers, not a standard property,use less*/
    top: 0px;       /*least no. of features on edge--so use this more for developing*/
}
